


/* Informações */

.info {
  margin-top: 40px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  width: 1200px;
  height: 930px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

/* Superior */

.curso {
  display: flex;
  flex-direction: column;
  flex: 0 1 70%; 
  max-width: 70%;
}

.escolhas {
  display: flex;
  align-items: center;
}

.p1 {
  margin-bottom: 20px;
}

.p1 > p {
  font-weight: bolder;
  color: rgb(177, 182, 187);
}

.p2 {
  padding-top: 10px;
  padding-right: 15px;
}

.p2 > p {
  font-size: 20px;
}

button {
    padding: 5px;
    font-size: 18px;
    border-radius: 30px;
    width: 100px;
    cursor: pointer;
    border-color: #37075e;
    color: #37075e;
    border: solid 1px;
    transition: .2s
}

.linha-vertical {
  width: 2px;            
  height: 45px;       
  background: rgb(207, 207, 207);  
  margin: 0 20px;   
}

.escolhas button:hover {
  background-color:#37075e;
  border: none;
  color: white;
}

.superior {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.relogio {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 10px;
}

.relogio i {
  font-size: 120px;
  color: #9617ea;
  margin-left: 30px;
}

.relogio p {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}

.diasrestantes {
  font-size: 45px;
  color: #9617ea;
}

/* Intermediário */

.notacorte {
  background-color: white;
  width: 500px;
  height: 140px;
  padding: 20px;
  border-radius: 20px;
  border:solid 2px;
  border-color: rgb(232, 232, 232);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}



.notacorte h1 {
  font-size: 50px;
  font-weight: normal;
}

.categoria {
  max-width: 280px;
  font-size: 18px;
  background-color: rgb(238, 238, 238);
  padding: 10px;
  border-radius: 15px;
  border: 1px solid;
  border-color: rgb(232, 232, 232);
  margin: 20px 0;
}

.categoria#matematica, .categoria#linguagens {
  margin: 0;
}

.categoria#redacao {
  max-width: 500px;
  height: 465px;
  background-color: white;
}

.categoria#redacao h3{
  background-color:  rgb(247, 247, 247);
}

.categoria h3 {
  background-color:  rgb(211, 211, 211);
  border-radius: 20px;
  font-size: 16px;
  padding: 5px;
  width: 90px;
  font-weight: normal;
}

.categoria h3 i {
  color:#5e129d;
}

.categoria h2 {
  margin-bottom: 30px;
}

.categoria p {
  margin-bottom: 10px;
}

.categoria button {
  width: 180px;
  color: white;
  padding: 10px;
  font-size: 16px;
  width: 160px;
  background-color:#37075e;
  align-self: flex-end;
}

.categoria#redacao button {
  width: 180px;
  font-size: 18px;
  padding: 5px;
  color: white;
  background-color:#37075e;
  align-self: flex-end;
}

.categoria#redacao p {
  margin-bottom: 80px;
}

.categoria button:hover, .categoria#redacao button:hover {
  background-color: #5e129d;
}

.intermediario {
  display: flex;
  gap: 20px;
}


.dupla {
    display: flex;
    gap: 20px;
}